{% extends 'base.html.twig' %}

{% block title %}Libro{% endblock %}

{% block body %}
    <h1>Libro</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ libro.id }}</td>
            </tr>
            <tr>
                <th>Titulo</th>
                <td>{{ libro.titulo }}</td>
            </tr>
            <tr>
                <th>Isbn</th>
                <td>{{ libro.isbn }}</td>
            </tr>
            <tr>
                <th>Edicion</th>
                <td>{{ libro.edicion }}</td>
            </tr>
            <tr>
                <th>Publicacion</th>
                <td>{{ libro.publicacion }}</td>
            </tr>
            <tr>
                <th>Categoria</th>
                <td>{{ libro.categoria }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('c_r_u_d_libro_index') }}">back to list</a>

    <a href="{{ path('c_r_u_d_libro_edit', {'id': libro.id}) }}">edit</a>

    {{ include('c_r_u_d_libro/_delete_form.html.twig') }}
{% endblock %}
