{% extends 'base.html.twig' %}

{% block title %}Editoriales{% endblock %}

{% block body %}
<h1>Lista de Editoriales</h1>

    <table class="table">
        <thead>
          <tr>
            <th>Nº</th>
            <th>Nombre</th>
            <th>Pais</th>
            
          </tr>
        </thead>
          
        <tbody>
          {% for editorial in editoriales %}
          <tr> 
            <td>{{ editorial.id }}</td>
            <td>{{ editorial.nombre }}</td>
            <td> {{editorial.pais}} </td>
            
            <td>
               <a class="btn btn-outline-primary" href="{{  path('ver-editorial', {id: editorial.id})    }}" role="button">Consultar</a>
               <a class="btn btn-outline-primary" href="{{  path('edit-editorial', {id: editorial.id})    }}" role="button">Editar</a>
               <a class="btn btn-outline-primary" href="{{  path('remove-editorial', {id: editorial.id})    }}" role="button">Eliminar</a>
            </td>  
          </tr>
          {% endfor %}
        </tbody>

    </table>
    <a class="btn btn-outline-primary" href="{{  path('new-editorial')}}" role="button">Nuevo Editorial</a>
</div>
{% endblock %}
